<ion-header>
  <ion-navbar>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Arquitecturas de Desarrollo Web</h1>	
  <h3>MSI. Genaro Mendez</h3>
  <h2>https://bitbucket.org/gmendez_itver/ionicapp.git</h2>
  <h4>Notas:</h4>
  <p><b> - Agregar plugin statusbar</b></p>
  <p>ionic cordova plugin add cordova-plugin-statusbar</p>
  <p><b> - Para incorporar GeoLocalizacion </b></p>
  <p>ionic cordova plugin add cordova-plugin-geolocation --variable GEOLOCATION_USAGE_DESCRIPTION="Para demostracion de geo-localizacion"</p>
  <p>npm install --save @ionic-native/geolocation</p>
  <p><b>- Para incorporar GeoLocalizacion en BackGround, es decir, sin necesidad de que esté la App Activa. Para que funcione, hay que quitar comentarios en archivo /lib/data.services.ts</b></p> 
  <p>ionic cordova plugin add cordova-plugin-mauron85-background-geolocation</p>
  <p>npm install --save @ionic-native/background-geolocation</p>
  <p><b> - Agregar plugin para uso de la camara</b></p>
  <p>
  <br/>
  npm install --save @ionic-native/camera  
  </p>
  <p><b> - Para el manejo y "upload" de imagenes</b></p>
  <p>ionic cordova plugin add com-sarriaroman-photoviewer</p>
  <p>npm install --save @ionic-native/file @ionic-native/transfer @ionic-native/file-path</p>
</ion-content>
