<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ingreso</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-card>

		<ion-card-header>
			Ingresar
		</ion-card-header>

		<ion-card-content>
		  <form [formGroup]='forma' (ngSubmit)="login()" >
			<ion-item>
				<ion-label fixed>Usuario
				</ion-label>
				<ion-input formControlName='username' type="text" value=""></ion-input>
			</ion-item>

			<ion-item>
				<ion-label fixed>Password</ion-label>
				<ion-input formControlName='password' type="password"></ion-input>
			</ion-item>
		  	<div align="center">
			  	<button ion-button type='submit'>
			  	    Ingresar
			    </button>
			</div>
	       <div padding>
	             <p *ngIf="error">&nbsp;{{ error }}</p>
	       </div>			
		  </form>
		</ion-card-content>
	</ion-card>
</ion-content>
