<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Inicio"    tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Fotos" 	  tabIcon="images"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contactos" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Acerca de" tabIcon="information-circle"></ion-tab>  
</ion-tabs>
