page-galeria {

	background-color: black;

    ion-slide.swiper-slide2 {
      left:25%;
    }	

	.swiper-container-horizontal > .swiper-pagination
	{
	    bottom          : 10%; //Change accordingly
	    z-index         : 99 !important;
	}

	.bg-style {
	    background: white;
	}
    .slide-zoom{
        background: #e6e6e6;
    }
    .thumb-img2 {
      padding:5px;
    }

}
