<!--
  Generated template for the GaleriaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Galeria de fotos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="bg-style">
  <ion-slides class="image-slider" pager options="options"> <!--effect="coverflow"-->
      <ion-slide *ngFor="let img of images">
          <img src="{{pathForImage(img)}}" class="full-image" (click)="presentImage(img)" (dblclick)="presentImage(img)"/>
      </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons>
      <button ion-button icon-center (click)="deleteImage()" [hidden]="currentImage < 0">
        <ion-icon name="trash" ></ion-icon>&nbsp;Borrar
      </button>
      <button ion-button icon-center (click)="deleteAllImages()" [hidden]="currentImage < 0">
        <ion-icon name="trash" ></ion-icon>&nbsp;Todo
      </button>
      <button ion-button icon-center (click)="uploadAll()" [hidden]="currentImage < 0">
        <ion-icon name="cloud-upload"></ion-icon>&nbsp;Subir todo
      </button>
      <button ion-button icon-center (click)="goToUpload()">
        <ion-icon name="camera"></ion-icon>&nbsp;Capturar
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
