<ion-header>
  <ion-navbar>
    <ion-title>
      Contactos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Lista de contactos</ion-list-header>
    <ion-item>
      <ion-icon name="mail" item-start></ion-icon>
      gmendez@itver.edu.mx
    </ion-item>
    <ion-item>
      <ion-icon name="at" item-start></ion-icon>
      @gmendez_itver
    </ion-item>
  </ion-list>
</ion-content>
