<ion-header>
  <ion-navbar>
    <ion-title>Inicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Bienvenidos!</h2>
  <p>
    Este es un ejemplo de aplicaci&oacute;n h&iacute;brida.
  </p>
  <p>
   La parte de presentacion de informacion se escribe en HTM5 y el control de la ejecucion o logica se lleva mediante JavaScript
  </p>
  <p>
      Uso de plugin nativo de Cordova para Geolocalizacion:
  </p>
  <p>
      Latitude: {{latitude}}      
  </p>
  <p>
      Longitud: {{longitude}}
  </p>
</ion-content>
