<!--
  Generated template for the UploadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Subir Fotos</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <img src="{{pathForImage(lastImage)}}" height="100%" width="100%" [hidden]="lastImage === null">
</ion-content>
<ion-footer>
  <ion-item [hidden]="lastImage == null">
    <ion-label floating>Nota</ion-label>
    <ion-input type="text" value="" [(ngModel)]="nota" name="nota"></ion-input>
  </ion-item>
  <ion-toolbar color="primary">
    <ion-buttons>
      <button ion-button icon-left (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>Seleccionar imagen
      </button>
      <button ion-button icon-left (click)="uploadImage(lastImage)" [disabled]="lastImage === null">
        <ion-icon name="cloud-upload"></ion-icon>Cargar
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
